/* font */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */

.btn-primary{
    background-color: rgba(253, 110, 10, 1);
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}
.bg-secondary{
    background-color: rgba(255, 248, 243, 1);
}
.section-title{
    color: rgba(24, 24, 24, 1);
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.section-des{
    font-size: 15px;
    color: rgba(117, 117, 117, 1);
    text-align: center
 
}

/* navbar */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 102px;
}

nav ul{
    display: flex;
    align-items: center;
    
}

nav ul li{
    list-style: none;
    margin-right: 50px;

}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}

.titleTs{
    color: rgba(253, 110, 10, 1);

}

/* banner */

.header{
    background-image: url(../image/developer.png),url(../image/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, right bottom;
}

.banner{
    display: flex;
    align-items: center;
    /* margin: 180 220px; */
}
.banner-content{
    margin: 80px 102px; 
    max-width: 580px;
}

.banner-img{
    max-width: 580px;
}

.greet{
    font-size: 45px;
    font-weight: 600;
}
.bn-title{
    font-size: 40px;
    font-weight: 800;
}

.banner-des{
    font-size: 16px;
}

/* main */

main{
    max-width: 1000px;
    margin: 0 auto;
}

.about{

    padding: 110px 150px;
    border-radius: 10px;
    margin-top: 130px;
    margin-bottom: 120px;
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.item-des{
    font-size: 17px;
    color: rgb(54, 54, 54);
}

.item-title{
    font-size: 15px;
    color: rgba(117, 117, 117, 1);

}
.skills-container{
    display: flex;
    gap:24px;
}

.skill{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06) ;
    border-radius: 6px;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 130px;
}
.skill-titles{
    font-size: 14px;
     color: rgb(86, 85, 85);

}
.skill-title{
    font-size: 18px;
    font-weight: bold;
}

/* resume */



.experinces-container{
    display: flex;
    gap:70px;
    margin-top: 100px;
}
.resumes{
    margin-bottom: 110px;
}

.cat-des{
    font-size: 14px;
    margin-top: -12px;
    color:rgb(86, 85, 85); ;
    
}
